
body {
    font-family: sans-serif;
}

#divTitle {
    width: inherit;
}
.title {
    text-align: center;
    padding-left: 20px;
}


#divMainDraw {
    float:left;
    align: center;
    padding-left: 20px;
    padding-top: 20px;

}

#divCanvases {
    padding-bottom: 20px;
}

#divMainStats {
    float: right;
    align: center;
    align-content: center;
    width: auto;
    padding: 20px;
    padding-left: 20px;
}

#divMainStats table {
    border: 1px;
    border-style:double;

}

#divMainStats table td {
    border: 1px;
    border-style: groove;
    align: content;
    padding: 10px;
}

.numbers {
    padding: 20px;
}

#divButtons {
  
}
table {
    table-layout: fixed;
}
#divControls table td{
    width: 250px;   
    overflow: hidden;
    align: content;
}


