@import url('http://fonts.googleapis.com/css?family=Raleway');
@import url('http://fonts.googleapis.com/css?family=Roboto');

body {
    margin: 0 !important;
    padding: 0 !important;
    height: 100%;
    font-family: Roboto;
    background-color: black;
    color: white;

}

#container {
    min-height: 100%;
    position: relative;
    
}

#divBody {
 background-color: black;
    padding: 10px;
    padding-bottom: 60px;
    padding-left: 25%;
}

#divControls{
    background-color: #111111;
    padding: 20px;
    border: 2px;
    border-color: dimgray;
    border-style: solid;
}

#divTitle {
    left:0; right:0;
    background-color: darkorange;
    padding-top: 0px;
    padding-bottom: 5px;
    align-content: center;
    
}

#divTitle h1{
    width:auto;
    padding-top: 10px;
    margin-top: 0;
    align-content: center;
}
.title {

    text-align: center;
    align-content: center;
    font-family: Raleway;
    vertical-align: middle;
}


#divMainDraw {
    float:left;
    align: center;
    padding:20px;
}

#divCanvases {
    padding-bottom: 20px;
}

#divMainStats {
    align: center;
    align-content: center;
    width: auto;
    padding: 20px;
    padding-left: 20px;
}

#divMainStats table td {
    border: 2px;
    border-color: #111111;
    border-bottom-color: darkorange;
    
    border-style: solid;
    align: content;
    padding: 10px;
}


.numbers {
    padding: 20px;
}

#divButtons {
  
}

table {
    table-layout: fixed;
}
#divMainStats table{ 
    background-color: #111111;
    border-color: black;
}

#divControls table td{
    width: 250px;   
    overflow: hidden;
    align: content;
}

#divFooter {
   bottom:0;
   margin-top:50%;
    margin-bottom: 0 !important;
   width:100%;
   background-color: darkorange;
    height: auto;
    text-align: center;
    font-family: Raleway;
    font-size: 18px;
}



button {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff903b), color-stop(1, #ff5e24));
	background:-moz-linear-gradient(top, #ff903b 5%, #ff5e24 100%);
	background:-webkit-linear-gradient(top, #ff903b 5%, #ff5e24 100%);
	background:-o-linear-gradient(top, #ff903b 5%, #ff5e24 100%);
	background:-ms-linear-gradient(top, #ff903b 5%, #ff5e24 100%);
	background:linear-gradient(to bottom, #ff903b 5%, #ff5e24 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff903b', endColorstr='#ff5e24',GradientType=0);
	background-color:#ff903b;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ff6924;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
button:hover {
	background:-webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ff5e24), color-stop(1, #ff903b));
	background:-moz-linear-gradient(top, #ff5e24 5%, #ff903b 100%);
	background:-webkit-linear-gradient(top, #ff5e24 5%, #ff903b 100%);
	background:-o-linear-gradient(top, #ff5e24 5%, #ff903b 100%);
	background:-ms-linear-gradient(top, #ff5e24 5%, #ff903b 100%);
	background:linear-gradient(to bottom, #ff5e24 5%, #ff903b 100%);
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5e24', endColorstr='#ff903b',GradientType=0);
	background-color:#ff5e24;
}
button:active {
	position:relative;
	top:1px;
}


input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: darkorange;
    margin-top: -4px;
}
input[type=range]:focus {
    outline: none;
}
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}

input[type=range]::-moz-range-track {
    width: 300px;
    height: 5px;
    background: #ddd;
    border: none;
    border-radius: 3px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: darkorange;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring{
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 5px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 16px;
    border-radius: 50%;
    background: darkorange;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}


